[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DBEST"]
	path = DBEST
	url = https://github.com/cran/DBEST
[submodule "PolyTrend"]
	path = PolyTrend
	url = https://github.com/cran/PolyTrend
